<p>Vamos a utilizar la directiva ngif con la variable {{mostrarTexto}}</p>

<p *ngIf='mostrarTexto; else nocumple'>Esto es el if porque el valor es {{mostrarTexto}}</p>

<ng-template #nocumple>
    <h2>Esto es el else porque el valor es {{mostrarTexto}}</h2>
</ng-template>

<label>Por favor indique su edad</label>
<form>
    
    <input name='info' [(ngModel)]='infoUser' placeholder='Indique su edad'>
    <button type='submit' (click)='obtengoEdad()'>Acceso</button>
</form>


<p *ngIf=' edad > 18; else noacceso'>Bienvenido al contenido</p>
<ng-template #noacceso>No tienes edad para acceder</ng-template>

<!--<button (click)="mostrarTexto=!mostrarTexto">El valor de la variable es {{mostrarTexto}}</button>

<div class="btn btn-success" (click)='actualizaTexto()'>Botón con evento click</div>

<table>
    <thead>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Profesion</th>
    </thead>
    <tbody>
        <tr *ngFor='let persona of personas'>
            <th appColor>{{persona.nombre}}</th>
            <th>{{persona.edad}}</th>
            <th appColor>{{persona.profesion}}</th>
        </tr>
    </tbody>
</table> -->