<div class="container-fluid">
  <div class="row" *ngIf="!accesoOk; else accesoValido">
    <form [formGroup]='accesoAdmin' (ngSubmit)='comprueboAdmin()'>
      <div class="mb-3">
          <input type="email" class="form-control" formControlName='email' placeholder="inserte e-mail">
          <div *ngIf="validar('email')">
              {{mensajeError('email')}}
          </div>
      </div>
      <div class="mb-3">
          <input type="password" class="form-control" formControlName='password' placeholder="inserte pass">
          <div *ngIf="validar('password')">
              {{mensajeError('password')}}
          </div>
      </div>
      <button [disabled]='accesoAdmin.invalid' type="submit" class="btn btn-primary">Acceso a perfil</button>
  </form> 
  </div>

  <ng-template #accesoValido>
    <div class="row">
      <div class="button">
        <button class='btn btn-warning' (click)='logout()'>Logout</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h3>Load new movie</h3>
        <form method='POST' enctype="multipart/form-data" [formGroup]='pelicula' (ngSubmit)='guardoPelicula()'>
            <div class="mb-3">
                <input type="text" class="form-control" formControlName='title' placeholder="Movie title">
                <!--<div *ngIf="validar('title')">
                    {{mensajeError('title')}}
                </div>-->
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" formControlName='director' placeholder="Movie director">
                <!--<div *ngIf="validar('director')">
                    {{mensajeError('password')}}
                </div>-->
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" formControlName='year' placeholder="Movie year">
              <!--<div *ngIf="validar('year')">
                  {{mensajeError('password')}}
              </div>-->
          </div>
          <div class="mb-3">
            <input type="file" class="form-control" accept='.jpg, .png, .jpeg' formControlName='cover' (change)='modificoEstadoInputFilePelicula($event)'>
            <!--<div *ngIf="validar('cover')">
                {{mensajeError('password')}}
            </div>-->
        </div>
            <button type="submit" class="btn btn-primary">Add movie</button>
        </form>
      </div>
      <div class="col-6">
        <h3>Create new User</h3>
        <form method='POST' enctype="multipart/form-data" [formGroup]='user' (ngSubmit)='guardoUsuario()'>
            <div class="mb-3">
                <input type="text" class="form-control" formControlName='name' placeholder="User name">
                <div *ngIf="validarUser('name')">
                    {{mensajeErrorUser('name')}}
                </div>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" formControlName='email' placeholder="User email">
                <div *ngIf="validarUser('email')">
                    {{mensajeErrorUser('email')}}
                </div>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" formControlName='password' placeholder="User password">
              <div *ngIf="validarUser('password')">
                  {{mensajeErrorUser('password')}}
              </div>
          </div>
          <div class="mb-3">
            <input type="file" class="form-control" accept='.jpg, .png, .jpeg' formControlName='avatar' (change)='modificoEstadoInputFileUser($event)'>
            <!--<div *ngIf="validar('cover')">
                {{mensajeError('password')}}
            </div>-->
        </div>
            <button type="submit" class="btn btn-primary">Add user</button>
        </form>
      </div>
    </div>

    <div class="row">
      <h3>Movies in stock</h3>
      <div class="col-4" *ngFor='let pelicula of peliculas'>
        <div class="card">
          <img src="{{pelicula.cover}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{pelicula.title}}</h5>
            <p class="card-text">{{pelicula.year}}</p>
            <p class='card-text'>{{pelicula.director}}</p>
            <div class="botones d-flex flex-column">
              <button class="btn btn-warning mb-3" (click)='cargoValoresPelicula(pelicula)' data-bs-toggle="modal" data-bs-target="#exampleModal">Editar id: {{pelicula.movie_id}}</button>
              <button class="btn btn-danger" (click)='borroPelicula(pelicula.movie_id)'>Borrar id: {{pelicula.movie_id}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>Users in database</h3>
      <div class="col-4" *ngFor='let user of usuarios'>
        <div class="card">
          <img src="{{user.avatar}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{user.name}}</h5>
            <p class="card-text">{{user.email}}</p>
            <div class="botones d-flex flex-column">
              <button class="btn btn-danger" (click)='borroUsuario(user.user_id)'>Borrar id: {{user.user_id}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actaulizar película</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method='POST' enctype='multipart/form-data' [formGroup]='modificoInfoPelicula' (ngSubmit)='actualizoPelicula()'>
          <div class="mb-3">
              <input type="text" class="form-control" formControlName='title' placeholder="Movie title">
          </div>
          <div class="mb-3">
              <input type="text" class="form-control" formControlName='director' placeholder="Movie director">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" formControlName='year' placeholder="Movie year">
        </div>
        <div class="mb-3">
          <input type="file" #inputFichero class="form-control d-none" formControlName='cover' placeholder="Movie cover" accept=".jpg, .png, .jpeg" (change)='modificoEstadoInputCambioPelicula($event)'>
          <img src="{{urlImagen}}" alt="" class='img-fluid' (click)='inputFichero.click()'>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
      </div>
      
    </div>
  </div>
</div>