<ul class="nav nav-tabs bg-dark">
    <li class="nav-item">
      <a class="nav-link" appTabs routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" appTabs routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" appTabs routerLink="/events">Events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" appTabs routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" appTabs routerLink="/login">Login</a>
      </li>

  </ul>