<div class="container">
    <div *ngIf='inicio else perfilBack' class="row">
        <div class="col-12">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">User</label>
                  <input type="email" class="form-control" [(ngModel)]='admin.name' name='name'>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" [(ngModel)]='admin.pass' name='pass'>
                </div>
                <button type="submit" class="btn btn-primary" (click)='compruebaAcceso()'>Submit</button>
              </form>
        </div>
    </div>
    <ng-template #perfilBack class="row">
        <div class="col-4">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Título</label>
            <input type="text" class="form-control" [(ngModel)]='libro.titulo' name='titulo'>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Categoría</label>
            <input type="text" class="form-control" [(ngModel)]='libro.categoria' name='categoria'>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Autor</label>
            <input type="text" class="form-control" [(ngModel)]='libro.autor' name='autor'>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Link Imagen</label>
            <input type="text" class="form-control" [(ngModel)]='libro.imagen' name='imagen'>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" >Descripción</label>
            <textarea name="" class="form-control" cols="30" rows="10" [(ngModel)]='libro.descripcion' name='descripcion'></textarea>
        </div>
        <button type="submit" class="btn btn-primary" (click)='nuevoLibro()'>Submit</button>
    </form>
        </div>
        <div class="col-8">
        <div class="row">
        <div class="col-4 p-5" *ngFor='let libro of libros'>
                <div class="card d-flex" style="width: 18rem;">
                    <button class='btn btn-danger' (click)='borraLibro(libro.id)'>Delete</button>
                    <button class='btn btn-warning' data-bs-toggle="modal" data-bs-target="#exampleModal" (click)='cargoValoresLibro(libro)'>Actualizar</button>
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{libro.id}} - {{libro?.titulo}}</h5>
                      <p class="card-text">{{libro?.autor}} - {{libro?.categoria}}</p>
                      <p class="card-text">{{libro?.descripcion}}</p>
                    </div>
                </div>
        </div>
        </div>
        </div>
    </ng-template>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Actualiza Libro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <input type="text" class="form-control" [(ngModel)]='libroModal.titulo' name='titulo'>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" [(ngModel)]='libroModal.categoria' name='categoria'>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" [(ngModel)]='libroModal.autor' name='autor'>
            </div>
            <div class="mb-3">
                    <input type="text" class="form-control" [(ngModel)]='libroModal.imagen' name='imagen'>
            </div>
            <div class="mb-3">
                <textarea class="form-control" cols="30" rows="10" [(ngModel)]='libroModal.descripcion' name='descripcion'></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)='actualiza()' data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>