<div class="container-fluid p-5">
    <div class="row d-flex justify-content-center">
        <div class="col-6 border border-dark p-5 shadow-lg text-center">
            <h1>Sobre nosotros</h1>
            <p class="font-weight-bold font-italic p-3">Objetivos de esta página:</p>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item d-flex justify-content-center">
                    <div class='mr-3'>
                        <input type="checkbox" (change)='changed()' aria-label="Checkbox for following text input">
                    </div>
                    <p>Menu con rutas</p>                    
                </li>
                <li class="list-group-item d-flex justify-content-center">
                    <div class='mr-3'>
                        <input type="checkbox" (change)='changed()' aria-label="Checkbox for following text input">
                    </div>
                    <p>Título cambia en las rutas</p>                    
                </li>
                <li class="list-group-item d-flex justify-content-center">
                    <div class='mr-3'>
                        <input type="checkbox" (change)='changed()' aria-label="Checkbox for following text input">
                    </div>
                    <p>Login que valide acceso</p>                    
                </li>
                <li class="list-group-item d-flex justify-content-center">
                    <div class='mr-3'>
                        <input type="checkbox" (change)='changed()' aria-label="Checkbox for following text input">
                    </div>
                    <p>Directiva en el login</p>                    
                </li>
                <li class="list-group-item d-flex justify-content-center">
                    <div class='mr-3'>
                        <input type="checkbox" (change)='changed()' aria-label="Checkbox for following text input">
                    </div>
                    <p>Cambiar el favicon e incluir imágenes</p>                    
                </li>
                <li class="list-group-item d-flex justify-content-center">
                    <div class='mr-3'>
                        <input type="checkbox" (change)='changed()' aria-label="Checkbox for following text input">
                    </div>
                    <p><b>Opcional: </b> <i>formulario de contacto</i></p>                    
                </li>
            </ul>
        </div>
    </div>
    
</div>